# PHPStorm
.idea/

# Builds
build/pkg_jongman/*
build/zips/*
build/scripts/build.properties
build/scripts/project.properties
build/releases/*

# composer
composer.phar
vendor/*

# Robo
robo.phar
RoboFile.ini

# Test related files
tests/acceptance.suite.yml
tests/*/*Tester.php
tests/_support/_generated/*TesterActions.php
tests/joomla*
tests/_output*
selenium-server-standalone.jar
codecept.phar
selenium.log
tests/cache

# Package building related
/dist
jorobo.ini

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

tests/_output/*