@CHARSET "UTF-8";

input.inputbox  {
    background-color:#fff;
    font-size: 16px !important;
}
.reservation-list {
	background-color: #fff;
}

.filter-author .filter-state .filter-start-date .filter-end-date {
	margin-left: 2px;
	margin-top: 5px;
}


#filter-search {
	background-color:#fff !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* enable tooltip on disabled btn class for twitter bootstrap*/
.btn.disabled {
    pointer-events: auto;
}

.nav-tabs{
  background-color:#f6f6f6;
}
.tab-content{
    padding:5px
}
.nav-tabs > li > a{
  border: medium solid; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
  color:#fff;
}

.clr { clear: both; }
.clrlft { clear: left; }
.clrrt { clear: right; }
.fltlft { float: left; }
.fltrt { float: right; }
.fltnone { float: none; }
.has-border { 
	border-style: solid; 
	border-width: 1px;
	padding: 5px;
}

/* Layout Divs */
div.jm-main-section {
	width: 60%;
}

div.jm-options-section {
	width: 38%;
	margin: 10px 10px 10px 0;
}

/* for bluestork style html */
div.jm-width-40.fltrt {
	width: 38%;
	margin: 10px 10px 10px 0;
}

/**
 * Admin Form Styles
 */
fieldset.adminform {
	margin: 0 10px 10px 10px;
	overflow: hidden;
}

.has-border {
	border: 1 solid #CCCCCC;
}

ul.adminformlist,
ul.adminformlist li,
dl.adminformlist,
dl.adminformlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.adminformlist pre {
	font-size:1.3em;
}

ul.adminformlist .button2-left, ul.adminformlist .button2-left {
	margin-top: 5px;
}

#box-table-a
{
	margin: 5px;
	width: 99%;
	text-align: left;
	border-collapse: collapse;
}

#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}

#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}

td.clickover {
	background-color: #2e6ab1;		
}

td.clickout {
	background-color: #ffffff;
	text-decoration: none; 	
}

.ajax-loading {
	background: url(../images/ajax-loading.gif) no-repeat center;
	padding: 17px 0pt 0pt;
}


.validationSummary {
	display: none;
}

ul.indented li {
	margin-left: 25px;
}

.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

#resourceDetailsPopup {
	min-width: 300px;
	max-width: 1000px;
	width: auto;
}

#resourceDetailsPopup ul {
	margin-left: 25px;
}

#resourceDetailsPopup h4 {
	border-bottom: solid 1px #000;
	font-size: 12pt;
	margin-bottom: 3px;
}

#resourceDetailsPopup .customAttribute {
	font-size: inherit;
}

#resourceDetailsPopup .attributes {
	border-left: solid 1px #ced1c5;
}

#resourceDetailsPopup .description, #resourceDetailsPopup .attributes {
	padding: 10px 5px;
	float: left;
	max-width: 400px;
}

#resourceDetailsPopup .resourceImage {
	width: 200px;
	float: left;
}

#resourceDetailsDiv {
	display: none;
	position: absolute;
	border: solid 2px #212121;
	background-color: #fafafa;
	padding: 5px;
	background-color: #fff;
}

.hidden {
	display:none;
}

.watermark {
	color: #ebebeb;
	font-style: italic;
	font-weight: normal;
}

.dialog {
	display: none;
	/*max-height: 600px;*/
	overflow: auto;
}

.notification-row {
	display: table-row;
	font-size: 12pt;
	font-weight: normal;
}

.notification-row div {
	padding: 5px;
}

.notification-row.alt {
	background-color: #ced1c5;
}

div.notification-type {
	width: 50%;
	display: table-cell;
}

div.notification-status {
	width: 50%;
	display: table-cell;
}

.pagination {
	height: auto !important;
	margin: 11px 0;	
}

ul.pagination {
	/* display: inline-block !important;*/
	height: auto !important;
}

div.counter, div.filters, span.display-limit{
	height: auto;
}

div.input-append {
	margin-bottom: 0px;
}
