div.icon-48-jongman {
	background: url('../images/icon-48-jongman.png') no-repeat left;
}

div.icon-48-schedules {
	background: url('../images/icon-48-schedules.png') no-repeat left;
}

div.icon-48-resources {
	background: url('../images/icon-48-resources.png') no-repeat left;
}

div.icon-48-reservations {
	background: url('../images/icon-48-reservations.png') no-repeat left;
}

div.icon-48-quotas {
	background: url('../images/icon-48-quotas.png') no-repeat left;
}

div.icon-48-blackouts {
	background: url('../images/icon-48-blackouts.png') no-repeat left;
}

div.icon-48-users {
	background: url('../images/icon-48-users.png') no-repeat left;
}

div.icon-48-groups {
	background: url('../images/icon-48-groups.png') no-repeat left;
}